.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: radial-gradient(circle, #0411c8, #010a72);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  position: fixed;
  width: 100vw; /* Set the width as desired*/
  height: calc(100vh - 100px); /*Set the height as desired*/
  overflow: hidden;
  top: 100px;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  z-index: 1;
}

.centerLocation-Button {
  position: relative;
  background-color: #0411c8; /* Button color */
  color: rgb(254, 254, 254); /* Icon color */
  border: none; /* Remove default border */
  border-radius: 50%; /* Make it circular */
  width: 50px; /* Set the width of the button */
  height: 50px; /* Set the height of the button */
  display: flex; /* Use flex to center the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer; /* Change cursor to pointer on hover */
  position: absolute; /* Allow positioning */
  bottom: 20px; /* Position from the top */
  left: 20px; /* Position from the left */
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: background-color 0.3s; /* Smooth color transition */
  z-index: 1000; /* High z-index to ensure button is on top */
}

.centerLocation-Button:hover {
  background-color: #2d43bd; /* Change color on hover */
}


.filter-button{
  position: absolute;
  background-color: #0411c8; /* Button color */
  color: rgb(254, 254, 254); /* Icon color */
  border: none; /* Remove default border */
  border-radius: 50%; /* Make it circular */
  width: 50px; /* Set the width of the button */
  height: 50px; /* Set the height of the button */
  display: flex; /* Use flex to center the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer; /* Change cursor to pointer on hover */
  position: absolute; /* Allow positioning */
  top: 60px; /* Position from the top */
  left: 20px; /* Position from the left */
  box-shadow: 0 3px 11px #00000033; /* Add shadow */
  transition: background-color 0.3s; /* Smooth color transition */
  z-index: 1000; /* High z-index to ensure button is on top */
}

.filter-button:hover {
  background-color: #2d43bd; /* Change color on hover */
}

