/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background: radial-gradient(circle, #0411c8, #010a72);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-form-container {
  display: flex;
  flex-direction: row;
  width: 100%; /* Set the width as desired*/
  height: 100vh; /*Set the height as desired*/
}

.map-section{
  flex: 2;
  width: 100vw; /* Set the width as desired*/
  height: calc(100vh - 100px); /*Set the height as desired*/
  top: 100px;
  z-index: 1;
}

.form-section {
  flex: 1; /* Form takes up 1/3 of the space */
  height: 100%; /* Full height */
  display: flex;
  overflow-y: auto;  /* Allow scrolling if form grows */
  align-items: center; /* Center form vertically */
  justify-content: center; /* Center form horizontally */
  background-color: #f4f4f4; /* Light background for the form */
  border-left: 2px solid #ccc; /* Optional: add a divider between map and form */
}
.centerLocation-Button {
  position: absolute;
  background-color: #0411c8; /* Button color */
  color: rgb(254, 254, 254); /* Icon color */
  border: none; /* Remove default border */
  border-radius: 50%; /* Make it circular */
  width: 50px; /* Set the width of the button */
  height: 50px; /* Set the height of the button */
  display: flex; /* Use flex to center the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer; /* Change cursor to pointer on hover */
  position: absolute; /* Allow positioning */
  bottom: 20px; /* Position from the top */
  left: 20px; /* Position from the left */
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: background-color 0.3s; /* Smooth color transition */
  z-index: 1000; /* High z-index to ensure button is on top */
}

.centerLocation-Button:hover {
  background-color: #2d43bd; /* Change color on hover */
}


.filter-button{
  position: absolute;
  background-color: #0411c8; /* Button color */
  color: rgb(254, 254, 254); /* Icon color */
  border: none; /* Remove default border */
  border-radius: 50%; /* Make it circular */
  width: 50px; /* Set the width of the button */
  height: 50px; /* Set the height of the button */
  display: flex; /* Use flex to center the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer; /* Change cursor to pointer on hover */
  position: absolute; /* Allow positioning */
  top: 60px; /* Position from the top */
  left: 20px; /* Position from the left */
  box-shadow: 0 3px 11px #00000033; /* Add shadow */
  transition: background-color 0.3s; /* Smooth color transition */
  z-index: 1000; /* High z-index to ensure button is on top */
}

.filter-button:hover {
  background-color: #2d43bd; /* Change color on hover */
}


.modal-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: rgb(247, 247, 247);
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.marker-popup button, .marker-form-popup button{
  margin: 5px;
  padding: 10px 25px;
  cursor: pointer;
}

.marker-form-popup {
  position: fixed;
  top: 150;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form styles */
.form-section form {
  width: 90%; /* Adjust form width */
  max-width: 400px; /* Optional: limit form width */
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
